<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koteswara.wiseplaces"
    android:versionCode="1"
    android:versionName="1.0" >

<permission
        android:name="com.koteswara.wiseplaces.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
 <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.koteswara.wiseplaces.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <activity
            android:name=".WisePlacesMain"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
      <activity android:name="com.koteswara.wiseplaces.Second"
          		></activity>
       
          <meta-data android:name="com.google.android.gms.version" 
            	   android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            
            android:value="AIzaSyBPRpp3b7CBB8cwTLqPcFBTSKKu2Z3UWR4"/>
         <receiver android:name="com.koteswara.wiseplaces.SmsSentReceiver" >
        </receiver>
        <receiver android:name="com.koteswara.wiseplaces.SmsDeliveredReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" >
                </action>
            </intent-filter>
              </receiver>
              <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
              <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
